:root {
  --primary-color: #007bff;
  --primary-50: #fef6f1;
  --primary-100: #fee2d0;
  --primary-200: #ffb88f;
  --primary-300: #fba16a; 

  --secondary-50: #eaf5ff;
  --secondary-100: #b2d5f2;
  --secondary-200: #8dc0eb;
  --secondary-300: #59a3e2;  
}

/*  */
* {
  font-family: Poppins, sans-serif;
}

input {
  @apply outline-0 border-0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
} 